.navbar--header {
    position: absolute;
    z-index: @zindex-dropdown;
    width: 100%;
    background: fade(@scout-purple,95%);
    border-bottom: 2px solid fade(white,95%);
    right: -100%;
    display: flex;
    transition: all 0.8s ease;
    &.active {
        right: 0%;
    }
    nav {
        padding: 12px 0;
        padding-left:10%;
        width: 100%;
        ul {
            .list-unstyled();
        }
        > ul > li > a {
            font-weight: bold;
            font-size: 16px;
        }
        .dropdown-menu {
            display: flex;
            flex-wrap: wrap;
            padding-top: 6px;
            li {
                flex-basis: 50%;
            }
        }
        li {
            padding: 6px;
            a {
                font-size: 14px;
                color:white;
            }
            li {
                &:last-child {
                    padding-bottom: 0px;
                }
            }
        }
    }
}